body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


.navbar-default {
	background-color: white;
	height: 90px;
}

.navbar-header {
	background-color: #4aaaa5;
	width: 249px;
	height: 90px;
	font-size: 36px;
	text-align: center;
	font-family: 'Georgia', Times, "Times New Roman", serif;

}

h1 {
	color: white;
}

.navbar-right {
	margin-top: 10px;
	margin-right: 60px;
}

h2 {
	border: 2px solid red;
	padding-bottom: 15px;
}

.container {
	
}

